fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pyjwt
pwdlib[argon2]
pydantic[email]
pydantic-settings
alembic
redis
python-multipart
celery
boto3


# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx

# Code quality
black
isort
flake8
mypy
bandit
safety
